  .collapse-btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    outline: none;
    transition: background-color 0.3s;
  }
  .collapse-btn:hover {
    background-color: #e0e0e0;
  }
  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }